

    <md-card class="example-card">
        <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>{{item.name}}</md-card-title>
            <md-card-subtitle>{{item.sex}}</md-card-subtitle>
        </md-card-header>
        <img  md-card-image class=mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <md-card-content>
            <p>
            我是一名程序员,我要做自己的产品！斯盖！
            </p>
        </md-card-content>
        <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
        </md-card-actions>
    </md-card>